@{
    ViewBag.Title = "TB_ITEM_LISTA";
}
<div class="row">
    <div class="col-lg-12">
        <div id="dvTabelaPrincipal" class="box">
            <div class="box-body">
                <div style="margin: 0 0 1em 0;overflow: hidden; text-align:left;">
                    <button id="btnNovo" class="btn btn-sm btn-success" type="button">
                        <i class="glyphicon glyphicon-plus visible-xs"></i>
                        <label class="hidden-xs" style="margin:0px;">Novo item</label>
                    </button>
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="tabelaPrincipal">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOME</th>
                                <th>ID_TIPO_LISTA</th>
                                <th>ID_PAI</th>
                                <th style="text-align: center;">A&ccedil;&otilde;es</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="dvFormCadastro" class="box" style="display:none;">
            <div class="box-body">
                <form id="formCadastro" action="#">
                    <div class="row">
                        <div class="col-lg-6 form-group campoCadastro">
                            <label>NOME:</label>
                            <input id="NOME" name="NOME" class="form-control" placeholder="Informe o NOME" maxlength="50"/>
                        </div>
                        <div class="col-lg-6 form-group campoLeitura">
                            <label>NOME:</label>
                            <p id="NOMELeitura"></p>
                        </div>
                        <div class="col-lg-6 form-group campoCadastro">
                            <label>TB_TIPO_LISTA:</label>
                            <select id="TB_TIPO_LISTA" name="TB_TIPO_LISTA" class="form-control"></select>
                        </div>
                        <div class="col-lg-6 form-group campoLeitura">
                            <label>TB_TIPO_LISTA:</label>
                            <p id="TB_TIPO_LISTALeitura"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group campoCadastro">
                            <label>TB_ITEM_LISTA:</label>
                            <select id="TB_ITEM_LISTA" name="TB_ITEM_LISTA" class="form-control"></select>
                        </div>
                        <div class="col-lg-6 form-group campoLeitura">
                            <label>TB_ITEM_LISTA:</label>
                            <p id="TB_ITEM_LISTALeitura"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group" style="text-align:right;">
                            <button id="btnSalvar" class="btn btn-sm btn-success" style="margin-right:5px;" type="button">
                                <i class="glyphicon glyphicon-floppy-disk visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Salvar</label>
                            </button>
                            <button id="btnSalvarContinuar" class="btn btn-sm btn-success" style="margin-right:5px;" type="button">
                                <i class="glyphicon glyphicon-floppy-disk visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Salvar e Continuar</label>
                            </button>
                            <button id="btnCancelar" class="btn btn-sm btn-danger" type="button">
                                <i class="glyphicon glyphicon-remove visible-xs"></i>
                                <label class="hidden-xs" style="margin:0px;">Cancelar</label>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="@Url.Content("~/Scripts/custom/tb_item_lista.js")"></script>
}